*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
  height: 230px;
}
a {
  color: inherit;
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.search-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 2em;
  margin-top: 2em;
}
.photo-card {
  display: block;
  overflow: hidden;

  border: 1px solid #bbbbbb;
  border-radius: 10px;

  transition-duration: 100ms;
  transition-timing-function: linear;
}
.card-link {
  display: block;
}
.photo-card:hover,
.photo-card:focus {
  transform: scale(1.05);
  outline: #000000 solid 1px;
  color: #0000ff;
  box-shadow: 3px 3px 15px 1px #000000;
}

.info {
  display: flex;
  justify-content: space-around;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px 5px;
}

@media screen and (min-width: 769px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px 7px;
  }
}

@media screen and (min-width: 1025px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 10px;
  }
}

@media screen and (min-width: 1201px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 10px;
  }
}
