img {
  display: block;
  max-width: 100%;
  height: auto;
}
.search-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 2em;
}
.gallery {
  display: flex;
  flex-flow: row wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.photo-card {
  outline: #000000 solid 1px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
}
.info {
  display: flex;
  justify-content: space-around;
}
.load-more {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  height: 3em;
}
